In [ ]:
import os

os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

from utils import sql_raw, print_sql
from sqlparse import format
from pandas import DataFrame as df

In [ ]:
from django.db.models import (
    Q,
    F,
    Case,
    When,
    Count,
    Func,
    Min,
    Max,
    Sum,
    Avg,
    Value,
    OuterRef,
    Subquery,
    CharField,
)
from django.db.models.functions import Concat, Cast, Round, Length
from django.db import connection
from customer_db.models import Province, Patient, Doctor, Admission

## Задание 1

Выведите имя_пациента и дату поступления из таблицы поступлений. Порядок по имени_пациента и дате поступления

In [ ]:
qstr = """
SELECT
  p.first_name,
  admission_date
FROM admissions a
JOIN patients p on p.patient_id = a.patient_id
ORDER By p.first_name, admission_date
"""
sqlq = sql_raw(qstr)

In [ ]:
orm_query = Patient.objects.all()

## Задание 2

Показать имя и фамилию пациентов, пол которых «M».

In [ ]:
qstr = """
SELECT
  first_name,
  last_name,
  gender
FROM Patients
WHERE gender = 'M';
"""
sqlq = sql_raw(qstr)

## Задание 3

Показать имя и фамилию пациентов, у которых нет аллергии. (null)

In [ ]:
qstr = """
SELECT
  first_name,
  last_name
FROM Patients
WHERE allergies IS NULL;
"""
sqlq = sql_raw(qstr)

## Задание 4

Показать фамилии пациентов, начинающиеся на букву «С»

In [ ]:
qstr = """
SELECT first_name
FROM Patients
WHERE first_name LIKE 'C%';
"""
sqlq = sql_raw(qstr)

## Задание 5

Покажите имя и фамилию пациентов, вес которых находится в диапазоне от 70 до 80 (включительно)

In [ ]:
qstr = """
SELECT
  first_name,
  last_name
FROM Patients
WHERE weight BETWEEN 70 AND 80;
"""
sqlq = sql_raw(qstr)

## Задание 6

Покажите имя и фамилию, объединенные в один столбец, чтобы показать их полное имя

In [ ]:
qstr = """
SELECT
  first_name || ' ' || last_name AS full_name
FROM patients;
"""
sqlq = sql_raw(qstr)

## Задание 7

Укажите имя, фамилию и полное название провинции каждого пациента

In [ ]:
qstr = """
SELECT
  first_name,
  last_name,
  province_name
FROM Patients p
  INNER JOIN province_names pn ON p.province_id = pn.province_id;
"""
sqlq = sql_raw(qstr)

## Задание 8

Покажите, у скольких пациентов дата_рождения содержит 1995 год

In [ ]:
qstr = """
SELECT COUNT(*) AS birth_count
FROM Patients
WHERE strftime('%Y', birth_date) = '1995';
"""
sqlq = sql_raw(qstr)

## Задание 9

Укажите имя_фамилию, фамилию и рост пациента с наибольшим ростом

In [ ]:
qstr = """
SELECT
  first_name,
  last_name,
  Max(height) AS max_height
FROM patients;
"""
sqlq = sql_raw(qstr)

## Задание 10

Покажите все столбцы для пациентов, имеющих один из следующих идентификаторов patient_ids: 1,45,53,87,100

In [ ]:
qstr = """
SELECT
  *
FROM patients
WHERE patient_id IN (1, 45, 53, 87, 100);
"""
sqlq = sql_raw(qstr)

## Задание 11

Покажите общее количество записей в таблице admissions

In [ ]:
sqlq = sql_raw("SELECT COUNT(*) AS total FROM admissions")

## Задание 12

Показать все столбцы, в которых пациент был принят и выписан в один и тот же день

In [ ]:
qstr = """
SELECT *
FROM admissions
WHERE admission_date = discharge_date;
"""
sqlq = sql_raw(qstr)

## Задание 13

Покажите идентификатор пациента и общее количество приемов для `patient_id=57`

In [ ]:
qstr = """
SELECT
  patient_id,
  Count(patient_id) admissions
FROM admissions
WHERE patient_id = 57;
"""
sqlq = sql_raw(qstr)

## Задание 14

На основе городов, в которых живут наши пациенты, покажите уникальные города, которые находятся в провинции с идентификатором «NS»

In [ ]:
qstr = """
SELECT DISTINCT city
FROM patients
WHERE province_id = 'NS';
"""
sqlq = sql_raw(qstr)

## Задание 15

Напишите запрос, чтобы найти имя_фамилию, фамилию и дату рождения пациентов с ростом более 160 и весом более 70

In [ ]:
qstr = """
SELECT
  first_name,
  last_name,
  birth_date
FROM patients
WHERE height > 160 AND weight > 70;
"""
sqlq = sql_raw(qstr)

## Задание 16

Напишите запрос, чтобы найти список пациентов с именем, фамилией и аллергией из Торонто, где аллергия не равна null

In [ ]:
qstr = """
SELECT
  first_name,
  last_name,
  allergies
FROM patients
WHERE
  city = 'Toronto'
  AND allergies IS NOT NULL;
"""
sqlq = sql_raw(qstr)

## Задание 17

На основе городов, в которых живет наш пациент, напишите запрос, который выведет список уникальных городов, начинающихся с гласной (a, e, i, o, u). Покажите порядок результатов по возрастанию городов

In [ ]:
# You can use city LIKE '[aeiou]%'
# We are doing case insensitve matching here.
qstr = """
SELECT DISTINCT city
FROM patients
WHERE
  city LIKE '[aeiou]%'
ORDER BY city;
"""
sqlq = sql_raw(qstr)